.layout {
  @apply grid grid-cols-1 gap-y-1 sm:gap-y-2 md:gap-y-4;

  div {
    @apply flex flex-wrap items-center gap-x-3 gap-y-1 sm:gap-y-2 md:gap-y-4;

    h1 {
      @apply whitespace-nowrap;
    }

    img {
      @apply h-[45px] sm:h-[72px] md:h-[90px] lg:h-[72px] object-cover rounded-full;
    }
  }

  div:first-child {
    @apply flex-nowrap;

    img {
      @apply w-40 lg:w-48 xl:w-64 ml-1 sm:ml-2;
    }
  }

  div:nth-child(2) {
    div:first-child {
      @apply w-full sm:w-auto;

      img {
        @apply w-40 sm:w-48 lg:w-36 xl:w-52 mr-1 sm:mr-2;
      }
    }
  }

  div:last-child {
    @apply w-full;

    div:first-child {
      @apply w-full sm:w-auto;

      img {
        @apply w-32 md:w-24 md:w-32 mx-1 sm:mx-2;
      }
    }
  }
}
