.frame {
  @apply grid gap-4 p-6 pb-7 bg-gray-50 rounded-md border border-primary-300 border-dashed;

  q {
    quotes: none;
  }

  q:before,
  q:after {
    content: '';
  }

  cite {
    @apply not-italic;

    .name {
      @apply font-semibold;
    }

    .profession {
      @apply text-gray-500;
    }
  }
}
